{% extends 'base.html.twig' %}

{% block title %}GreenApp - Free Mobile app | About Budapest | From Budapest{% endblock title %}

{% block description %}
    Absolutely free mobile application that assists you in navigating through the best places and events in Budapest. Let me know if you're interested!
{% endblock description %}


{% block stylesheets %}
    {% stylesheets
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    'assets/vendor/font-awesome/css/font-awesome.min.css'
    'assets/vendor/devices.css/assets/devices.min.css'
    'assets/vendor/sweetalert/dist/sweetalert.css'
    'bundles/landing/css/coming-soon.css'
    'assets/vendor/angular-bootstrap/ui-bootstrap-csp.css'
    filter='cssrewrite'
    output='css/compiled/coming-soon.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
{% endblock stylesheets%}

{% block body %}
    <div class="main" ng-app="comingSoon" ng-controller="ComingSoonController as vm">
        <!-- video background-->
        <video id="video-background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="http://ondrejsvestka.cz/video/silver-lining-video.webm" type="video/webm">
            <source src="http://ondrejsvestka.cz/video/silver-lining-video.mp4" type="video/mp4">
        </video>

        <div class="container">
            <div class="row">
                <h1 class="text-bolder margin-top text-uppercase">Budapest in your smartphone</h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {#<h2 class="sub text-lighter">#}
                    {#When I moved to Budapest 2 years ago I didn't have anybody to show me around.#}
                    {#Some time later I found my heart belongs here, so I want to share my knowledge about it with you.#}
                    {#</h2>#}
                    <h2 class="sub text-lighter">
                        Budapest... No better place that I've found myself in. Yet it was so difficult to get around here, you know, find a proper barber, favourite restaurant, best cafe...
                    </h2>
                    <h2 class="sub text-lighter">
                        I want to improve your time spending here using experience of people that live here, emotions of true hungarians - things that I lacked when I just moved here.
                    </h2>

                    <div class="mailing-list">
                        <h3 class="mailing-list-heading">
                            Let me notify once it is ready.
                        </h3>

                        <div class="row">
                            {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
                            {{ form_widget(form.email, {'attr': {'ng-model': 'vm.email'} }) }}
                                <button type="button" class="btn btn-danger" ng-disabled="vm.email.length === 0" ng-click="vm.submitEmail()">subscribe</button>
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="marvel-device nexus5">
                            <div class="top-bar"></div>
                            <div class="sleep"></div>
                            <div class="volume"></div>
                            <div class="camera"></div>
                            <div class="screen">
                                <div uib-carousel active="1" interval="5000">
                                    <div uib-slide ng-repeat="slide in vm.slides" index="$index">
                                        <img ng-src="{{ '{{ slide.img }}' }}" class="img-responsive" alt="{{ '{{ slide.alt }}' }}" style="margin:auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay"></div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="credit">Made by <a href="https://bootstrapious.com">Bootstrapious.com</a></p>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </div>
                    <div class="col-md-6">
                        <p>&copy;{{ "now"|date("Y") }} Green</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
    'assets/vendor/angular/angular.min.js'
    'assets/vendor/angular-animate/angular-animate.js'
    'assets/vendor/angular-bootstrap/ui-bootstrap.js'
    'assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js'
    'assets/vendor/sweetalert/dist/sweetalert.min.js'
    'bundles/landing/js/coming-soon.controller.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

{% endblock javascripts %}