{% extends 'base.html.twig' %}

{% block title %}GreenApp - Free Mobile app | About Budapest | From Budapest{% endblock title %}

{% block description %}
    Absolutely free mobile application that assists you in navigating through the best places and events in Budapest. Let me know if you're interested!
{% endblock description %}


{% block stylesheets %}
    {% stylesheets
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    'assets/vendor/font-awesome/css/font-awesome.min.css'
    'assets/vendor/devices.css/assets/devices.min.css'
    'assets/vendor/sweetalert2/dist/sweetalert2.css'
    'bundles/landing/css/coming-soon.css'
    'assets/vendor/angular-bootstrap/ui-bootstrap-csp.css'
    filter='cssrewrite'
    output='css/compiled/coming-soon.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
{% endblock stylesheets%}

{% block body %}
    <div class="main" ng-app="comingSoon" ng-controller="ComingSoonController as vm" style="overflow-y: hidden; height: 100%" ng-cloak>
        <div class="container">
            <div class="row">
                <h1 class="text-bolder margin-top text-uppercase">Budapest in your smartphone</h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2 class="sub text-lighter">
                        Budapest is one of the most beautiful cities in Europe, but if you don’t know your way around, it’s easy to miss the most interesting parts. We want to show you the best places in Budapest, hand picked by real locals. Whether you want to check the latest nightclub, or have a fresh Italian coffee overlooking the Basilica we’ll have something to fit your taste.
                    </h2>
                    <br>
                    <h4 class="text-center text-lighter">
                        Support us on Facebook:
                        <p>
                            <div class="fb-like" data-href="https://facebook.com/greenxapp" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                        </p>
                    </h4>
                    {#<h2 class="sub text-lighter">#}
                        {#When I moved here two years ago I struggled to find my way around. Through trial and error I slowly began to understand the city; where to go, where to eat and where to meet people. Now I’m going to share my knowledge with you to make sure you get the best out of your time here. Sign up today and get access to our application, for free.#}
                    {#</h2>#}

                    <div class="mailing-list">
                        <h3 class="mailing-list-heading">
                            How about trying the app in beta-mode?
                        </h3>

                        <div class="row">
                            {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
                            {{ form_widget(form.email, {'attr': {'ng-model': 'vm.email'} }) }}
                                <button type="button" class="btn btn-danger" ng-disabled="vm.email.length === 0" ng-click="vm.submitEmail()">subscribe</button>
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="marvel-device nexus5">
                            <div class="top-bar"></div>
                            <div class="sleep"></div>
                            <div class="volume"></div>
                            <div class="camera"></div>
                            <div class="screen">
                                <div uib-carousel active="1" interval="5000">
                                    <div uib-slide ng-repeat="slide in vm.slides" index="$index">
                                        <img ng-src="{{ '{{ slide.img }}' }}" class="img-responsive" alt="{{ '{{ slide.alt }}' }}" style="margin:auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay"></div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="fb-root"></div>
                        <p>&copy;{{ "now"|date("Y") }} Green | <a href="//facebook.com/greenxapp">Facebook page <i class="fa fa-facebook-official" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-md-6">
                        <p>Template made by <a href="https://bootstrapious.com">Bootstrapious.com</a></p>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
    'assets/vendor/angular/angular.min.js'
    'assets/vendor/angular-animate/angular-animate.js'
    'assets/vendor/angular-bootstrap/ui-bootstrap.js'
    'assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js'
    'assets/vendor/sweetalert2/dist/sweetalert2.min.js'
    'bundles/landing/js/coming-soon.controller.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

{% endblock javascripts %}